body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('background.jpg') no-repeat top  right;
    background-size: cover;
  }
  h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* font-style: italic; */
    font-weight: bolder;
    font-size:50px;
    color: #c32727;
  }
  label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: rgb(57, 2, 2);
    font-weight: bold;
  }
  .container {
    text-align: center;
  }
  
  .controls {
    margin-top: 20px;
  }
  
  select {
    padding: 5px;
    margin-top: 10px;
    margin-left: 10px;
    width: 200px;
    border-radius: 15px;
  }
    