body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('background.jpg') no-repeat top  right;
    background-size: cover;
  }
  h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* font-style: italic; */
    font-weight: 500;
    font-size:40px;
    color: #ffa700;
  }
  
  .container {
    text-align: center;
  }
  
  .controls {
    margin-top: 20px;
  }
  
  button {
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    background-color:rgb(234, 204, 8);
    color:rgb(2, 74, 2);
    border: none;
    border-radius: 5px;
  }
  
  select {
    padding: 5px;
    margin-top: 10px;
    margin-left: 10px;
    width: 200px;
  }
    